* { 
    margin: 0;
    padding: 0;
}

.header{
background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 15px;
}
.button1{
    color: aliceblue;
}
.button2{
    background-color: rgb(4, 180, 48);
    color: aliceblue;
    border-radius: 8px;
    width: 100px;
    height: 40px;
   
}
.ikinci{
    padding: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.ikinci2{
  
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.ucuncu{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: center;
    align-items: center;
   
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
    
}


.ucuncu2{
    font-size: 20px;
    justify-content: center;
}

.button3{
    border-radius: 8px;
    width: 150px;
    height: 40px;
    background-color: rgb(6, 53, 180);
    color: aliceblue;
    font-size: 15px;
    margin-top: 40px;
}

.dorduncu{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2327; 
    padding: 15px;
    color: aliceblue;  
}

.gridCon {
  
    background-color: #181C20;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
   
}

.gridCard {
    width: 294px;
    height: 250px;
}
.gridCard1 {
    width: 294px;
    height: 250px;
}

.gridCard h2 {
    color: white;
    text-align: center;
}
.gridCard1 h2 {
    color: white;
    text-align: center;
}
.slayd{
    background-color: #181C20;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    
}
.slayd .buttonslayd {
    border:none;
    border-radius: 4px;
    width: 240px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.visible {
  max-height: 500px;
  opacity: 1;
  pointer-events: auto;
}

.besinci {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;

}

.besinci .besinci1{
     display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}


.altinci{
    margin-top: 50px;
    
     align-items: center;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}
.dirol{
    margin-top: 20px;
}

.yeddi{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.sekkiz{
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
}

.sekkiz .codrops{
    margin-top: -30px;
}
.sekkiz .awwards{
    margin-top: -40px;
}
.sekkiz .hongkiat {
    margin-top: -25px;
}
.sekkiz .medium {
    margin-top: -30px;
   
}
.sekkiz .speckyboy {
    margin-left: 20px;
    margin-top: 10px;
}
.sekkiz .dwb {
    margin-top: -20px;
}


.customer{
    height: 700px;
    margin-top: 100px;

    background-color: #181C20;
    
}
.showcase{
    padding-top: 110px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}


.cappy{
    margin-top: 10px;
    color: dimgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
}
.foto{
    padding-left: 40px;
    padding-top: 50px;
    background-color: #181C20;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}
.foto h2{
    color: white;
    text-align: center;
    
}
.frequently h1{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    align-items: center;

}
.frequently .cant{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.frequently .cant .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    color: dimgrey;
}
.frequently .cant .chat{
    font-size: 25px;
    
}

.list{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
   

}

.list .list1{
    gap: 20px;
    display: flex;
    margin-top: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: left;
}
.list .list1 .list2{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    border: none;
  
    
}

.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: 700px;
    background-color: royalblue;
}
.blue .blue1{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}
.blue .blue2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.blue3{
    border-radius: 4px;
    width: 200px;
    height: 60px;
    border:none;
    background-color: rgb(0, 211, 56);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 60px;
   
}


.son{
    height: 750px;
    background-color: #1E2327;
    
}
.son .sonhead{
    padding-top: 160px;
    padding-left: 200px;
    color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.son .sonlist {
    padding-left: 200px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;

}
.son .sonlist .sonlist2{
    margin-top: 60px;
}
.son .sonlist .sonlist3{
    margin-top: -110px;
}

.son .sonlist .sonlist4{
    margin-top: -110px;
}

.last{
    height: 100px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
}